In [1]:
import pandas as pd
Sports=pd.read_excel('Sports.xlsx')
start=76
end=100
Sports=Sports[start:end]
Business=pd.read_excel('Business.xlsx')
Business=Business[start:end]
Science=pd.read_excel('Science.xlsx')
Science=Science[start:end]
Health=pd.read_excel('Health.xlsx')
Health=Health[start:end]

In [2]:
Sports['News']=Sports['title']+Sports['summery']
Sports=Sports.drop(['summery','title','date'],axis=1)

In [3]:
Business['News']=Business['title']+Business['summery']
Business=Business.drop(['summery','title','date'],axis=1)

In [4]:
Health['News']=Health['title']+Health['summery']
Health=Health.drop(['summery','title','date'],axis=1)

In [5]:
Science['News']=Science['title']+Science['summery']
Science=Science.drop(['summery','title','date'],axis=1)

In [6]:
frames=[Sports,Health,Science,Business]
combine=pd.concat(frames,ignore_index=True,keys=['Index','News','Category','Link'])
combine.drop(['Unnamed: 5'],axis=1)
combine.index=combine.index+1

In [7]:
combine.info()
combine.drop('Unnamed: 5',axis=1)
combine.to_excel('ResponseSP19-BCS-089.xlsx')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 1 to 96
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   category    96 non-null     object
 1   link        96 non-null     object
 2   Unnamed: 5  0 non-null      object
 3   News        96 non-null     object
dtypes: object(4)
memory usage: 3.1+ KB

In [8]:
combine.to_excel('Response.xlsx')